# 42pak-generator
## .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vs/
publish/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## IDE
.idea/
.vscode/
*.swp
*~

## OS
Thumbs.db
.DS_Store

## Project specific
*.vpk
temp/
